* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
}

#div {
    width: 378px;
    height: 274px;
    border: 1px solid #E0E0E0;
    background-color: #F5F5F5;
    margin: 150px auto;
}

.label {
    color: #616161;
    margin-top: 10px;
    margin-left: 30px;
    display: block;
}

.input::placeholder {
    color: #9E9E9E;
}


.input {
    width: 315px;
    height: 45px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    margin: 10px auto;
    display: block;
}


.input:hover {
    border: 1px solid #BBB400;
    border-radius: 1px;
}


.submit {
    width: 315px;
    height: 45px;
    border: 1px solid #FFD43A;
    background-color: #FFD43A;
    border-radius: 10px;
    color: black;
    margin: 30px auto;
    display: block;
 }


 .submit:hover {
    background-color: #BBB400;
    border-color: #BBB400;
    border-radius: 22.5px;
    color: #7C0000;
    font-size: 20px;
 }